<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.StampDetailMapper">

    <resultMap id="BaseResultMap" type="generator.domain.StampDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stampTypeId" column="stamp_type_id" jdbcType="INTEGER"/>
            <result property="life" column="life" jdbcType="DECIMAL"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="getTime" column="get_time" jdbcType="TIMESTAMP"/>
            <result property="ownnerId" column="ownner_id" jdbcType="INTEGER"/>
            <result property="msg" column="msg" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stamp_type_id,life,
        signature,get_time,ownner_id,
        msg
    </sql>
</mapper>
